body {
  background-color: rgb(29 29 29);
  color: white;
}

#navbar {
  height: 80px;
  background-color: rgb(38 40 40);
  padding: 10px;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

#title-container, #form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  letter-spacing: .3rem;
}

#form-container {
  flex-grow: 1;
}

#table {
  position: relative;
  top: 150px;
  z-index: 1;
}

